* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
  background: url(../img/background.svg) no-repeat center top fixed;
  background-size: cover;
  font-family: montserratB;
}

@font-face {
  font-family: montserratA;
  src: url(../font/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: montserratB;
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__infoGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  gap: 10px;
}

.container__infoGame .acesLogo {
  width: 100%;
  text-align: center;
}

.container__infoGame .acesLogo img {
  width: 90px;
}

.container__infoGame .infoGame {
  width: 95%;
  padding: 20px 0;
  background: rgba(250, 246, 242, 0.699);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.container__infoGame .infoGame .bookImg img {
  width: 120px;
  border-radius: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 10px 10px 20px, rgba(0, 0, 0, 0.23) 6px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 10px 10px 20px, rgba(0, 0, 0, 0.23) 6px 6px 6px;
}

.container__infoGame .infoGame .bookImg img:hover {
  scale: 1.1;
}

.container__infoGame .infoGame .detailsGame {
  text-align: center;
  padding: 0 30px;
}

.container__infoGame .infoGame .detailsGame .detail h1 {
  font-size: 2em;
  font-weight: 700;
}

.container__infoGame .infoGame .detailsGame .detail h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #00b7bd;
  font-weight: 300;
  font-size: 1.1em;
}

.container__infoGame .infoGame .detailsGame .detail h3 {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 20px;
}

.container__infoGame .infoGame .detailsGame .buttonStar {
  text-align: center;
  width: 100%;
}

.container__infoGame .infoGame .detailsGame .buttonStar .infoBtn__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 80%;
  border-radius: 5px;
  padding: 8px;
  margin: auto;
  background-color: #00b7bd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.container__infoGame .infoGame .detailsGame .buttonStar .infoBtn__star:hover {
  cursor: pointer;
  background-color: #09c6cc;
}

.container__infoGame .infoGame .detailsGame .buttonStar .infoBtn__star span {
  color: #fff;
}

.container__infoGame .infoGame .detailsGame .buttonStar .infoBtn__star img {
  width: 30px;
}

.hideInfoGame {
  display: none;
}

.container__starGame {
  border-radius: 15px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__starGame .questionHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.container__starGame .questionHeader .imgBook img {
  width: 200px;
}

.container__starGame .questionHeader .postGame {
  background-image: url("../img/cont_task.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 300px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 30px;
}

.container__starGame .questionHeader .postGame img {
  position: absolute;
  width: 54px;
  left: 40px;
  top: -60px;
  -webkit-filter: drop-shadow(0 4px 3px rgba(12, 12, 12, 0.7));
          filter: drop-shadow(0 4px 3px rgba(12, 12, 12, 0.7));
}

.container__starGame .questionHeader .postGame .animationDinaTeo {
  -webkit-animation: moveDinaTeo 1.5s linear 1;
          animation: moveDinaTeo 1.5s linear 1;
}

@-webkit-keyframes moveDinaTeo {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

@keyframes moveDinaTeo {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

.container__starGame .questionHeader .postGame h3 {
  color: #fff;
  font-weight: 600;
}

.container__starGame .questionContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__starGame .questionContent .questionDetail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__starGame .questionContent .questionDetail h2 {
  position: absolute;
  top: 17px;
  left: 105px;
  font-size: 1.2em;
  color: #555554;
}

.container__starGame .questionContent .questionDetail img {
  width: 200px;
}

.container__starGame .questionContent .answerDetail {
  background-image: url("../img/token_puzzle.png");
  width: 100px;
  height: 59px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  color: #555554;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-weight: 800;
}

.container__starGame .questionContent .optionsAnswer__correct {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  opacity: 1;
  -webkit-animation: Move 1.5s 1 ease-in-out;
          animation: Move 1.5s 1 ease-in-out;
}

@-webkit-keyframes Move {
  0% {
    -webkit-transform: rotate(0 deg);
            transform: rotate(0 deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes Move {
  0% {
    -webkit-transform: rotate(0 deg);
            transform: rotate(0 deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

.container__starGame .optionsAnswers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.container__starGame .optionsAnswers .answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/token_puzzle.png");
  width: 100px;
  height: 59px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #555554;
  font-weight: 700;
  text-align: center;
}

.container__starGame .optionsAnswers .answers:hover {
  background-image: url("../img/token_puzzle_hover.png");
}

.container__starGame .optionsAnswers .answerDetail--see {
  -webkit-animation: seeContent 1 1s ease;
          animation: seeContent 1 1s ease;
}

@-webkit-keyframes seeContent {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

@keyframes seeContent {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.container__starGame .optionsAnswers .answersCorrect {
  opacity: 0;
}

.container__starGame .optionsAnswers .answersIncorrect {
  -webkit-animation: incorrectAnswer 1s 1 ease-in-out;
          animation: incorrectAnswer 1s 1 ease-in-out;
}

@-webkit-keyframes incorrectAnswer {
  0% {
    -webkit-transform: rotate(0 deg);
            transform: rotate(0 deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes incorrectAnswer {
  0% {
    -webkit-transform: rotate(0 deg);
            transform: rotate(0 deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

.container__starGame .optionsAnswers .answersOne {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.container__starGame .optionsAnswers .answersTwo {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.container__starGame .optionsAnswers .answersThree {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.container__starGame--Focus {
  display: none;
}

.invisible {
  display: none;
}

.container__endGame {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.container__endGame .imgBook {
  width: 180px;
}

.container__endGame .detailEndGame {
  width: 80%;
  border-radius: 35px;
  border: solid 4px #1ebbe0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__endGame .detailEndGame .textEndGame {
  width: 100%;
  border-radius: 40px 40px 0 0;
  background-color: #1ebbe0;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.container__endGame .detailEndGame .textEndGame h2 {
  margin: 10px;
  color: #fff;
}

.container__endGame .detailEndGame .scoreContent {
  margin-top: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  position: relative;
}

.container__endGame .detailEndGame .scoreContent img {
  position: absolute;
  width: 150px;
  z-index: 0;
}

.container__endGame .detailEndGame .scoreContent span {
  font-size: 4em;
  color: #fff;
  z-index: 10;
  -webkit-animation: moveTopScore 1500ms linear infinite;
          animation: moveTopScore 1500ms linear infinite;
}

.container__endGame .detailEndGame .starContainerEnd {
  margin-top: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.container__endGame .detailEndGame .starContainerEnd img {
  width: 25px;
}

.container__endGame .detailEndGame .btnRefrech {
  margin: 30px 0;
  width: 100%;
  text-align: center;
}

.container__endGame .detailEndGame .btnRefrech .btnActualizar {
  background-color: #1ebbe0;
  width: 70%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.container__endGame .detailEndGame .btnRefrech .btnActualizar:hover {
  background-color: #30c4e6;
}

.container__endGame--focus {
  display: none;
}

.regular {
  -webkit-animation: moveTopScore 1500ms linear infinite;
          animation: moveTopScore 1500ms linear infinite;
  -webkit-filter: sepia(57%) saturate(1877%) hue-rotate(356deg) brightness(104%) contrast(97%) drop-shadow(15px 8px 8px #a9a9aa);
          filter: sepia(57%) saturate(1877%) hue-rotate(356deg) brightness(104%) contrast(97%) drop-shadow(15px 8px 8px #a9a9aa);
}

.bueno {
  -webkit-animation: moveTopScore 1500ms linear infinite;
          animation: moveTopScore 1500ms linear infinite;
  -webkit-filter: sepia(57%) saturate(1877%) hue-rotate(356deg) brightness(104%) contrast(97%) drop-shadow(15px 8px 8px #a9a9aa);
          filter: sepia(57%) saturate(1877%) hue-rotate(356deg) brightness(104%) contrast(97%) drop-shadow(15px 8px 8px #a9a9aa);
}

@-webkit-keyframes moveTopScore {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes moveTopScore {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.containImgQuestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containImgQuestion .imgQuestion {
  background-color: white;
  width: 300px;
}

.containImgQuestion .imgQuestion img {
  width: 100%;
}

.containImgQuestion .empty {
  background-color: aliceblue;
  width: 150px;
  height: 100px;
}

.containImgAnswer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.containImgAnswer .imgAnswers {
  background-color: white;
  padding: 2px;
}

.containImgAnswer .imgAnswers .draggImg {
  background-color: rebeccapurple;
  width: 100px;
  height: 100px;
  cursor: move;
}

.dragBaground {
  background-color: aliceblue;
}

.starContainer {
  margin-top: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.starContainer img {
  width: 25px;
}

.starContainer .imgStarsEnd {
  width: 50px;
}

.correct {
  -webkit-filter: invert(25%) sepia(91%) saturate(3663%) hue-rotate(122deg) brightness(94%) contrast(104%);
          filter: invert(25%) sepia(91%) saturate(3663%) hue-rotate(122deg) brightness(94%) contrast(104%);
  -webkit-animation: moveTopStart 1000ms linear infinite;
          animation: moveTopStart 1000ms linear infinite;
}

.wrong {
  -webkit-filter: invert(150%) sepia(90%) saturate(1239%) hue-rotate(336deg) brightness(118%) contrast(100%);
          filter: invert(150%) sepia(90%) saturate(1239%) hue-rotate(336deg) brightness(118%) contrast(100%);
  -webkit-animation: moveTopStart 1000ms linear infinite;
          animation: moveTopStart 1000ms linear infinite;
}

@-webkit-keyframes moveTopStart {
  from {
    -webkit-filter: invert(25%) sepia(91%) saturate(2018%) hue-rotate(94deg) brightness(94%) contrast(104%);
            filter: invert(25%) sepia(91%) saturate(2018%) hue-rotate(94deg) brightness(94%) contrast(104%);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    -webkit-filter: invert(44%) sepia(40%) saturate(898%) hue-rotate(71deg) brightness(88%) contrast(90%);
            filter: invert(44%) sepia(40%) saturate(898%) hue-rotate(71deg) brightness(88%) contrast(90%);
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

@keyframes moveTopStart {
  from {
    -webkit-filter: invert(25%) sepia(91%) saturate(2018%) hue-rotate(94deg) brightness(94%) contrast(104%);
            filter: invert(25%) sepia(91%) saturate(2018%) hue-rotate(94deg) brightness(94%) contrast(104%);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    -webkit-filter: invert(44%) sepia(40%) saturate(898%) hue-rotate(71deg) brightness(88%) contrast(90%);
            filter: invert(44%) sepia(40%) saturate(898%) hue-rotate(71deg) brightness(88%) contrast(90%);
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

@keyframes moveTopStart {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.progressContainer {
  width: 75%;
  border: 1px dotted #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.progress {
  border-radius: 10px;
  width: 1%;
  height: 10px;
  background-color: #f8f6f1;
}
/*# sourceMappingURL=style.css.map */