@media (min-width: 760px) {
  .container__infoGame {
    padding: 0 80px;
    .infoGame {
      width: 70%;
      flex-direction: row;
      padding: 30px 0;
      .bookImg {
        width: 30%;
        text-align: center;
        img {
          width: 180px;
        }
      }
      .detailsGame {
        width: 60%;

        .detail {
          h1 {
          }
          h2 {
            font-size: 1.3em;
          }
          h3 {
            font-size: 1.2em;
          }
        }
      }
    }
  }
  .container__starGame {
    .questionHeader {
      width: 80%;
      .imgBook {
        img {
          width: 230px;
        }
      }
      .postGame {
        width: 400px;
        height: 60px;
        font-size: 1.2em;
        img {
          width: 70px;
          top: -75px;
        }
      }
    }
    .progressContainer {
      width: 370px;
      .progress {
        height: 12px;
      }
    }
    .questionContent {
      .imgQuestionContent {
        width: 122px;
        img {
          transform: translateX(13px) translateY(2px);
        }
      }
      .questionDetail {
        h2 {
        }
        img {
          width: 140px;
        }
      }
      .answerDetail {
        width: 120px;
        height: 71px;
      }
    }
    .optionsAnswers {
      .answers {
        width: 120px;
        height: 71px;
      }
    }
  }
  .container__endGame {
    .detailEndGame {
      width: 50%;
    }
  }
}

@media (min-width: 800px) {
  .container__infoGame {
    width: 90%;
    padding: 15px;
    .infoGame {
      width: 100%;
      .bookImg {
        img {
          width: 180px;
        }
      }
    }
  }
  .container__starGame {
    .questionHeader {
      width: 90%;
      .imgBook {
        img {
          width: 250px;
        }
      }
      .postGame {
        width: 500px;
        height: 60px;
        font-size: 1.2em;

        img {
          width: 70px;
          top: -75px;
        }
      }
    }
    .progressContainer {
      margin-top: 10px;
      width: 400px;
      .progress {
        height: 12px;
      }
    }
    .questionContent {
      .imgQuestionContent {
        width: 132px;
        img {
          transform: translateX(14px) translateY(2px);
        }
      }
      .questionDetail {
        h2 {
        }
        img {
          width: 150px;
        }
      }
      .answerDetail {
        width: 135px;
        height: 80px;
      }
      .optionsAnswer__correct {
        transform: translateX(-16px);
        opacity: 1;
        animation: Move 1.5s 1 ease-in-out;
      }
    }
    .optionsAnswers {
      .answers {
        width: 135px;
        height: 80px;
      }
    }
    .starContainer {
      img {
        width: 35px;
      }
    }
  }
  .container__endGame {
    .detailEndGame {
      width: 50%;
    }
  }
}

@media (min-width: 1300px) {
  .container__infoGame {
    width: 55%;
    padding: 35px;
    .acesLogo {
      img {
        width: 130px;
      }
    }
    .infoGame {
      .bookImg {
        img {
          width: 200px;
        }
      }
      .detailsGame {
        .detail {
          margin-bottom: 50px;
          h1 {
          }
          h2 {
          }
          h3 {
          }
        }
      }
    }
  }
  .container__starGame {
    .questionHeader {
      width: 90%;
      .imgBook {
        img {
          width: 300px;
        }
      }
      .postGame {
        width: 650px;
        height: 60px;
        font-size: 1.2em;

        img {
          width: 80px;
          left: 80px;
          top: -90px;
        }
      }
    }
    .progressContainer {
      margin: 5px 0 60px 0;
      width: 450px;
      .progress {
        height: 14px;
      }
    }
    .questionContent {
      .imgQuestionContent {
        width: 152px;
        img {
          transform: translateX(14px) translateY(2px);
        }
      }
      .questionDetail {
        h2 {
        }
        img {
          width: 174px;
        }
      }
      .answerDetail {
        width: 150px;
        height: 90px;
      }
      .optionsAnswer__correct {
      }
    }
    .optionsAnswers {
      .answers {
        width: 150px;
        height: 90px;
      }
    }
    .starContainer {
      img {
        width: 35px;
      }
    }
  }
  .container__endGame {
    .detailEndGame {
      width: 20%;
    }
  }
}
