@mixin msj {
  text-align: center;
  background-color: $color-book-primary;
  margin: 40px auto 5px auto;
  padding: 10px;
  width: 50%;
  border: 5px solid $color-book-primary-dark;
  border-radius: 20px 25px 25px 30px;
  transform: rotateZ(-0.1deg);
  h2 {
    color: $white;
    font-size: 1.2em;
    span {
      display: inline-block;
      transform: translate(0);
      padding: 0 5px;
      color: $color-dinaTeo;
      animation: skip 1s infinite;
    }
    @keyframes skip {
      0% {
        transform: rotate(0 deg);
      }
      50% {
        transform: translateY(-3px);
      }
    }
  }
}
